extends ../layout

block content
  a(href='/bicicletas') volver
  br
  br
  h1 Agregar bicicleta
  br
  br
  form(action='/bicicletas/create' method='post')
    p
      | ID: 
      input#id(type='text' name='id' size='40')
    p
      | Color: 
      input#color(type='text' name='color' )
    p
      | modelo: 
      input#modelo(type='text' name='modelo' )
    p
      | latitud: 
      input#latitud(type='text' name='latitud' )
    p
      | longitud: 
      input#longitud(type='text' name='longitud')
    p
      input(type='submit' value='Enviar')