extends ../layout

block content
  a(href='/bicicletas') volver
  br
  br
  h1 Actualizacion bicicleta
  br
  br
  form(action=`/bicicletas/${bici.id}/update` method='post')
    p
      | ID: 
      input#id(type='text' name='id' size='40' value=bici.id)
    p
      | Color: 
      input#color(type='text' name='color' value=bici.color)
    p
      | modelo: 
      input#modelo(type='text' name='modelo' value=bici.modelo)
    p
      | latitud: 
      input#latitud(type='text' name='latitud' value=bici.ubicacion[0])
    p
      | longitud: 
      input#longitud(type='text' name='longitud' value=bici.ubicacion[1])
    p
      input(type='submit' value='Enviar')